<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<listeners>
		        <listener class-name="com.course.config.ExtentTestNGIReporterListenerOld" />
	</listeners>
  <test name="Test">
    <classes>
      <class name="com.course.cases.LoginTest">
      	<methods>
		<include name="loginTrue"/>
                    <include name="loginFalse"/>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
